/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2022 (16.0.1000)
    Source Database Engine Edition : Microsoft SQL Server Express Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2022
    Target Database Engine Edition : Microsoft SQL Server Express Edition
    Target Database Engine Type : Standalone SQL Server
*/
USE [master]
GO
/****** Object:  Database [QLStoreTrangMieng]    Script Date: 7/28/2025 4:49:30 PM ******/
CREATE DATABASE [QLStoreTrangMieng]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLStoreTrangMieng', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QLStoreTrangMieng.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLStoreTrangMieng_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QLStoreTrangMieng_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLStoreTrangMieng].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLStoreTrangMieng]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 7/28/2025 4:49:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 7/28/2025 4:49:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[OrderId] [int] IDENTITY(1,1) NOT NULL,
	[OrderDate] [datetime2](7) NULL,
	[ShippingAddress] [nvarchar](500) NOT NULL,
	[PaymentMethod] [nvarchar](50) NOT NULL,
	[Status] [nvarchar](20) NULL,
	[UserId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order_Product]    Script Date: 7/28/2025 4:49:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order_Product](
	[OrderId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC,
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 7/28/2025 4:49:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[PaymentId] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[PaymentMethodId] [int] NOT NULL,
	[Amount] [decimal](10, 2) NOT NULL,
	[PaymentDate] [datetime2](7) NULL,
	[Status] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentMethod]    Script Date: 7/28/2025 4:49:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentMethod](
	[PaymentMethodId] [int] IDENTITY(1,1) NOT NULL,
	[MethodName] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentMethodId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 7/28/2025 4:49:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProductId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[Description] [nvarchar](1000) NULL,
	[ImageUrl] [nvarchar](500) NULL,
	[StockQuantity] [int] NULL,
	[CategoryId] [int] NOT NULL,
	[CreatedDate] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product_Promotion]    Script Date: 7/28/2025 4:49:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product_Promotion](
	[ProductId] [int] NOT NULL,
	[PromotionId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC,
	[PromotionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Promotion]    Script Date: 7/28/2025 4:49:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Promotion](
	[PromotionId] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[DiscountPercent] [decimal](5, 2) NOT NULL,
	[StartDate] [datetime2](7) NOT NULL,
	[EndDate] [datetime2](7) NOT NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[PromotionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Review]    Script Date: 7/28/2025 4:49:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Review](
	[ReviewId] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[Comment] [nvarchar](1000) NULL,
	[Rating] [int] NOT NULL,
	[CreatedDate] [datetime2](7) NULL,
	[IsVisible] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ReviewId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 7/28/2025 4:49:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
	[Role] [nvarchar](20) NOT NULL,
	[Phone] [nvarchar](20) NULL,
	[Address] [nvarchar](500) NULL,
	[IsActive] [bit] NULL,
	[CreatedDate] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([CategoryId], [Name], [Description]) VALUES (1, N'Bánh Tráng Miệng', N'Các loại bánh ngọt, tiramisu, cheesecake, mousse và đồ tráng miệng')
INSERT [dbo].[Category] ([CategoryId], [Name], [Description]) VALUES (2, N'Nước Uống', N'Các loại nước uống, cà phê, trà và đồ uống đặc biệt')
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([OrderId], [OrderDate], [ShippingAddress], [PaymentMethod], [Status], [UserId]) VALUES (1, CAST(N'2025-06-27T20:28:36.2700000' AS DateTime2), N'123 Nguyễn Huệ, Q1, TP.HCM', N'COD', N'Delivered', 4)
INSERT [dbo].[Order] ([OrderId], [OrderDate], [ShippingAddress], [PaymentMethod], [Status], [UserId]) VALUES (2, CAST(N'2025-06-27T18:28:36.2733333' AS DateTime2), N'456 Lê Lợi, Q3, TP.HCM', N'MoMo', N'Delivered', 5)
INSERT [dbo].[Order] ([OrderId], [OrderDate], [ShippingAddress], [PaymentMethod], [Status], [UserId]) VALUES (3, CAST(N'2025-06-27T16:28:36.2733333' AS DateTime2), N'789 Võ Văn Tần, Q3, TP.HCM', N'Bank Transfer', N'Shipped', 4)
SET IDENTITY_INSERT [dbo].[Order] OFF
GO
INSERT [dbo].[Order_Product] ([OrderId], [ProductId], [Quantity], [Price]) VALUES (1, 1, 2, CAST(45000.00 AS Decimal(10, 2)))
INSERT [dbo].[Order_Product] ([OrderId], [ProductId], [Quantity], [Price]) VALUES (1, 11, 1, CAST(35000.00 AS Decimal(10, 2)))
INSERT [dbo].[Order_Product] ([OrderId], [ProductId], [Quantity], [Price]) VALUES (2, 5, 1, CAST(55000.00 AS Decimal(10, 2)))
GO
SET IDENTITY_INSERT [dbo].[Payment] ON 

INSERT [dbo].[Payment] ([PaymentId], [OrderId], [PaymentMethodId], [Amount], [PaymentDate], [Status]) VALUES (1, 15, 7, CAST(170000.00 AS Decimal(10, 2)), CAST(N'2025-07-03T21:57:56.1571522' AS DateTime2), N'Pending')
INSERT [dbo].[Payment] ([PaymentId], [OrderId], [PaymentMethodId], [Amount], [PaymentDate], [Status]) VALUES (2, 16, 7, CAST(153000.00 AS Decimal(10, 2)), CAST(N'2025-07-03T22:06:34.1686849' AS DateTime2), N'Pending')
INSERT [dbo].[Payment] ([PaymentId], [OrderId], [PaymentMethodId], [Amount], [PaymentDate], [Status]) VALUES (3, 17, 7, CAST(153000.00 AS Decimal(10, 2)), CAST(N'2025-07-03T22:16:43.6138347' AS DateTime2), N'Pending')
SET IDENTITY_INSERT [dbo].[Payment] OFF
GO
SET IDENTITY_INSERT [dbo].[PaymentMethod] ON 

INSERT [dbo].[PaymentMethod] ([PaymentMethodId], [MethodName], [Description]) VALUES (1, N'COD', N'Thanh toán khi nhận hàng')
INSERT [dbo].[PaymentMethod] ([PaymentMethodId], [MethodName], [Description]) VALUES (7, N'VNPAY', N'Cổng thanh toán VNPAY')
SET IDENTITY_INSERT [dbo].[PaymentMethod] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([ProductId], [Name], [Price], [Description], [ImageUrl], [StockQuantity], [CategoryId], [CreatedDate]) VALUES (1, N'Tiramisu Original', CAST(65000.00 AS Decimal(10, 2)), N'Tiramisu truyền thống Ý với hương vị cà phê đậm đà, mascarpone mềm mịn và lớp cacao thơm lừng. Một tác phẩm kinh điển không thể bỏ qua.', N'/Content/Images/Products/OriginalTiramisu.png', 10, 1, CAST(N'2025-06-27T00:07:00.1466667' AS DateTime2))
INSERT [dbo].[Product] ([ProductId], [Name], [Price], [Description], [ImageUrl], [StockQuantity], [CategoryId], [CreatedDate]) VALUES (2, N'Tiramisu Dâu', CAST(70000.00 AS Decimal(10, 2)), N'Phiên bản tiramisu tươi mát với dâu tây tự nhiên, kem mascarpone và bánh ladyfinger. Vị ngọt thanh của dâu hòa quyện cùng độ béo ngậy của kem.', N'/Content/Images/Products/strawBerrytiramisu.png', 49, 1, CAST(N'2025-06-27T00:07:00.1466667' AS DateTime2))
INSERT [dbo].[Product] ([ProductId], [Name], [Price], [Description], [ImageUrl], [StockQuantity], [CategoryId], [CreatedDate]) VALUES (3, N'Tiramisu Dưa Lưới', CAST(68000.00 AS Decimal(10, 2)), N'Tiramisu độc đáo với hương dưa lưới tươi mát, kết hợp hoàn hảo giữa vị ngọt của trái cây và độ béo ngậy của mascarpone.', N'/Content/Images/Products/MelonTiramisu.png', 49, 1, CAST(N'2025-06-27T00:07:00.1466667' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[Promotion] ON 

INSERT [dbo].[Promotion] ([PromotionId], [Code], [Description], [DiscountPercent], [StartDate], [EndDate], [IsActive]) VALUES (1, N'WELCOME10', N'Giảm 10% cho khách hàng mới', CAST(15.00 AS Decimal(5, 2)), CAST(N'2025-06-26T22:01:00.0000000' AS DateTime2), CAST(N'2025-07-26T22:01:00.0000000' AS DateTime2), 1)
INSERT [dbo].[Promotion] ([PromotionId], [Code], [Description], [DiscountPercent], [StartDate], [EndDate], [IsActive]) VALUES (2, N'COMBO15', N'Giảm 15% khi mua combo tráng miệng + nước uống', CAST(15.00 AS Decimal(5, 2)), CAST(N'2025-06-26T22:01:00.0000000' AS DateTime2), CAST(N'2025-07-11T22:01:00.0000000' AS DateTime2), 0)
INSERT [dbo].[Promotion] ([PromotionId], [Code], [Description], [DiscountPercent], [StartDate], [EndDate], [IsActive]) VALUES (3, N'HELLO', N'xin chàooooo', CAST(15.00 AS Decimal(5, 2)), CAST(N'2025-07-13T13:38:00.0000000' AS DateTime2), CAST(N'2025-07-31T13:38:00.0000000' AS DateTime2), 1)
SET IDENTITY_INSERT [dbo].[Promotion] OFF
GO
SET IDENTITY_INSERT [dbo].[Review] ON 

INSERT [dbo].[Review] ([ReviewId], [OrderId], [Comment], [Rating], [CreatedDate], [IsVisible]) VALUES (1, 13, N'Nước rất ngon', 3, CAST(N'2025-07-04T13:22:29.9151556' AS DateTime2), 1)
INSERT [dbo].[Review] ([ReviewId], [OrderId], [Comment], [Rating], [CreatedDate], [IsVisible]) VALUES (2, 28, N'ngon quá a aaa', 5, CAST(N'2025-07-08T11:07:21.9563340' AS DateTime2), 1)
INSERT [dbo].[Review] ([ReviewId], [OrderId], [Comment], [Rating], [CreatedDate], [IsVisible]) VALUES (3, 59, N'nooooooooooô', 2, CAST(N'2025-07-14T19:53:31.0605704' AS DateTime2), 1)
SET IDENTITY_INSERT [dbo].[Review] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([UserId], [UserName], [Email], [Password], [Role], [Phone], [Address], [IsActive], [CreatedDate]) VALUES (1, N'Admin', N'admin@trangmieng.com', N'admin123', N'Admin', NULL, N'Hà Nội', 1, CAST(N'2025-06-26T22:01:01.7933333' AS DateTime2))
INSERT [dbo].[User] ([UserId], [UserName], [Email], [Password], [Role], [Phone], [Address], [IsActive], [CreatedDate]) VALUES (3, N'Nghị', N'nghi45397@gmail.com', N'1234567', N'Customer', N'nghi45397@gmail.com', N'HCM', 1, CAST(N'2025-06-26T22:16:28.1450486' AS DateTime2))
INSERT [dbo].[User] ([UserId], [UserName], [Email], [Password], [Role], [Phone], [Address], [IsActive], [CreatedDate]) VALUES (4, N'Nguyễn Văn A', N'customer1@mail.com', N'123456', N'Customer', N'0987654321', N'123 Nguyễn Huệ, Q1, TP.HCM', 1, CAST(N'2025-06-27T20:28:36.2700000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[User] OFF
GO
ALTER TABLE [dbo].[Order] ADD  DEFAULT (getdate()) FOR [OrderDate]
GO
ALTER TABLE [dbo].[Order] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[Payment] ADD  DEFAULT (getdate()) FOR [PaymentDate]
GO
ALTER TABLE [dbo].[Payment] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT ((0)) FOR [StockQuantity]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Promotion] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Review] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Review] ADD  DEFAULT ((1)) FOR [IsVisible]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT ('Customer') FOR [Role]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[Order_Product]  WITH CHECK ADD FOREIGN KEY([OrderId])
REFERENCES [dbo].[Order] ([OrderId])
GO
ALTER TABLE [dbo].[Order_Product]  WITH CHECK ADD FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([ProductId])
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD FOREIGN KEY([OrderId])
REFERENCES [dbo].[Order] ([OrderId])
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD FOREIGN KEY([PaymentMethodId])
REFERENCES [dbo].[PaymentMethod] ([PaymentMethodId])
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Category] ([CategoryId])
GO
ALTER TABLE [dbo].[Product_Promotion]  WITH CHECK ADD FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([ProductId])
GO
ALTER TABLE [dbo].[Product_Promotion]  WITH CHECK ADD FOREIGN KEY([PromotionId])
REFERENCES [dbo].[Promotion] ([PromotionId])
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD FOREIGN KEY([OrderId])
REFERENCES [dbo].[Order] ([OrderId])
GO
USE [master]
GO
