
@{
    ViewBag.Title = "Kết quả thanh toán VNPAY";
    var isSuccess = (bool)ViewBag.CheckSignature && ViewBag.ResponseCode == "00" && ViewBag.TransactionStatus == "00";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container my-5">
    <div class="text-center">
        <h2>Kết quả thanh toán VNPAY</h2>
        @if ((bool)ViewBag.CheckSignature)
        {
            if (isSuccess)
            {
              <div class="alert alert-success">Giao dịch thành công! Đang chuyển về lịch sử đơn hàng...</div>
            }
            else
            {
                <div class="alert alert-danger">Giao dịch thất bại. Mã lỗi: @ViewBag.ResponseCode</div>
            }
        }
        else
        {
            <div class="alert alert-danger">Dữ liệu không hợp lệ!</div>
        }
        <a href="@Url.Action("OrderHistory", "User")" class="btn btn-success mt-3">Xem lịch sử đơn hàng</a>
    </div>
</div>
@if (isSuccess)
{
    <script>
        setTimeout(function () {
            window.location.href = '@Url.Action("OrderHistory", "User")';
        }, 3000); // 3 giây tự động chuyển
    </script>
}

